

.dd{
    display: block;
    justify-content: center;
    align-items: center;
    padding:2rem;
    margin:1rem;

}

.cardb{
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}


.card{
  list-style-type: none;
}

.Image {
  max-width: 20rem;
  height: 100%;
  width: 100%;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}



  .addToCart {
    background-color: #217f24;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.75rem;
    width:auto;
  }
  
  .addToCart:hover {
    background-color: #45a049;
  }
  


  .addToCartd {
    background-color: #000f91;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.75rem;
    width:auto;
  }
  
  .addToCartd:hover {
    background-color: #0014c9;
  }
  


.middle{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin:0.2rem;
place-items: center;
    border-radius: 20px;
    height: 1.5rem;
    width:10rem;
    border:1px solid black;
    background:#FCC50B;
    color:black;
font-family: "Lato";
font-weight: bolder;
font-size:0.6rem;
    
}


.items{

  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;

}

.item {
  position: relative;


  width: 16.5rem;
  height: 20rem;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.25);
  box-shadow: 0 5px 15px rgba(0,0,0,0.25);
  border-radius: 5px;
  overflow: hidden;
  transition: 1s;
}

.item .imgbox {
  height:75%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: 1s;

 /* background-image: url(./../../Asset/imm.webp);*/
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}



.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  position:relative;

    background: #fff;
    transition: 0.5s;


}




.popup {
  position: fixed;
  height:70vh;
  width: 70vh;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  overflow: scroll;
}

.popupcontent {
  text-align: center;
}







label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
}

.item:hover .details{

z-index: 2;
margin-top: -4rem;

}

.item:hover .img-box {
  
  /*bottom: 60px;*/
  transition: 0.5ss;
}

.hh{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -0.9rem;
}

.heading1{
  padding-right:1rem;
    padding-left:2rem;
}

.price{
  align-items: right;
    padding-right:1rem;    
}


.Heading{
display: flex;
justify-content:center ;
align-items: center;
text-align: center;
font-family:"Lato";
}


.Imagess{

  height:6rem;
  
  display: FLEX;
  width: 6rem;

}

.Imagessn{

  
  display: FLEX;
  justify-content: space-between;
  align-items: center;
}


.btnss{
 display: flex;
 justify-content: center;
 align-items: center;
 gap:0.2rem;
}



.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #007bff;
  color: #fff;
}
