.slider{
overflow-x:hidden;
width:auto;
z-index: -1;
scroll-behavior: smooth;
scroll-margin-block: 0;
position:relative;
/*top:6.2rem;*/
   
}

.bbs{
    overflow-x: hidden
}

.sli{
 height:90vh;
    width:100vw;
}


@media screen and (max-width:768px)
{
.slider{
    height:50vh;
    width:100vw;
}
    .sli{
        
        height:50vh;
        width:100vw;
    }  

    
}